@charset "utf-8";

p {
color: white;
font-family: Constantia, Georgia,;
font-size: 33px;
line-height: 40px;
width: 600px;
background-color: grey;
padding: 15px;
}
@font-face {font-family: "KarloNofta;" src:ur1"Dokumenti/KarloNofta-Regular.ttf");
} 

h1{
  font-family: KarloNofta, serif;
  font-size: 60px;
  color: white;
}

h2 {
font-family: Gotham,, Helvetica, Arial;
font-size:60px;
color: silver;
}
h3{
font-family: Gotham,, Helvetica, Arial;
font-size:60px;
font-height:60px;
color: silver;
text-align:center;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
span {color: rgb(47, 43, 117);}
body {
background-image: url("slike/R.jpg");
background-color: darkcyan;
}

a:link {
color: black;
background-color: grey;
padding: 20px;
line-height: 30px;
border:1px solid #000000;
}
a:hover{
background-color: red;
}